<!DOCTYPE html>
<html lang="en">

<head>
    <title>Serwis24 - aplikacja do zarządzania serwisami</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css"/>
    <link href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="serwis_web.styles.css"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚙️</text></svg>">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="_content/Heron.MudCalendar/Heron.MudCalendar.min.css" rel="stylesheet" />
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="_framework/blazor.web.js"></script>
<script type="module" src="_content/Heron.MudCalendar/Heron.MudCalendar.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="~/scripts.js"></script>
<script>
    window.customRedirectToCheckout = function(sessionId) {
        const newWindow = window.open('about:blank', '_blank', 'width=800,height=600');
        if (newWindow) {
            newWindow.document.write('<html><head><title>Przekierowywanie do płatności...</title>');
            newWindow.document.write('<script src="https://js.stripe.com/v3/"><\/script>');
            newWindow.document.write('<script>');
            newWindow.document.write('const stripe = Stripe("pk_test_51RHTepH8Eh2h5xHttcVBC86GELtFrlbst8NKGwoXq9d2m2Atm4VQsAEITLjK5ZF6fsCFdNp1JtOiylWeyjY0nsml00Y8uCQMOz");');
            newWindow.document.write('stripe.redirectToCheckout({ sessionId: "' + sessionId + '" });');
            newWindow.document.write('<\/script>');
            newWindow.document.write('</head><body><p>Przekierowywanie do płatności Stripe...</p></body></html>');
            newWindow.document.close();
        } else {
            alert('Wyskakujące okno zostało zablokowane.');
        }
    };
    window.downloadFileFromBase64 =  function(fileName, base64String, mimeType) {
        const link = document.createElement("a");
        link.href = `data:${mimeType};base64,${base64String}`;
        link.download = fileName;
        link.click();
    }
    window.toggleBodyClass = function(className, enabled) {
        if (enabled) {
            document.body.classList.add(className);
        } else {
            document.body.classList.remove(className);
        }
    };

</script>
</body>

</html>