body {
    margin: 0;
    padding: 0;
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
}

.navbar-leftbar {
    display: flex;
}

.body-content {
    background-color: #F5F6FA;
    min-height: calc(100vh - 70px);
    width: 100vw;
    padding: 20px 30px;
}

@media (max-width: 768px) {
    .navbar-leftbar {
        display: flex;
        gap: 0;
    }

    .body-content {
        padding: 80px 14px 14px 14px;
    }
}
