@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <MudThemeProvider Theme="_serwis24Theme" @rendermode="InteractiveServer"/>
    <MudPopoverProvider @rendermode="InteractiveServer"/>
    <div class="layout-container">
        <div class="navbar-topbar">
            <TopNavMenu />
        </div>
        <div class="navbar-leftbar">
            <LeftNavMenu />
            <div class="body-content">
                @Body
            </div>
        </div>
    </div>
    <MudSnackbarProvider @rendermode="InteractiveServer"/>
    <MudDialogProvider @rendermode="InteractiveServer" />
</BootstrapBlazorRoot>

@code{
    readonly MudTheme _serwis24Theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = DesignSystem.Tokens.Colors.Primary,
        },
    };
}