@page "/settings"
@rendermode InteractiveServer
@using serwis_web.Components.Temp

<PageTitle>Ustawienia</PageTitle>

<div class="settings-container">
	<h2>Ustawienia</h2>

	<div class="settings-back">
		<div class="settings-tab">
			<div class="settings-col">

				<h2>Dane kontaktowe</h2>

				<h4>Imię</h4>
				<input type="text" placeholder="Anna" />

				<h4>Nazwisko</h4>
				<input type="text" placeholder="Nowak" />

				<div class="settings-row">
					<div class="single-col">
						<h4>Numer Telefonu</h4>
						<input type="number" placeholder="536871456" />
					</div>
					<div class="single-col">
						<h4>Adres Email</h4>
						<input type="email" placeholder="anowak@gmail.com" />
					</div>
				</div>

				<h4>Państwo</h4>
				<input type="text" placeholder="Polska" />

				<div class="settings-row">
					<div class="single-col">
						<h4>Ulica</h4>
						<input type="text" placeholder="Radwańska" />
					</div>
					<div class="single-col">
						<h4>Numer Domu</h4>
						<input type="number" placeholder="42" />
					</div>
				</div>

				<div class="settings-row">
					<div class="single-col">
						<h4>Miasto</h4>
						<input type="text" placeholder="Łódź" />
					</div>
					<div class="single-col">
						<h4>Kod pocztowy</h4>
						<input type="number" placeholder="90-012" />
					</div>
				</div>

				<button class="setting-btn">Zapisz zmiany</button>

			</div>
			<div class="settings-col">

				<h2>Zmień hasło</h2>

				<h4>Obecne Hasło</h4>
				<input type="password" placeholder="" />

				<h4>Nowe Hasło</h4>
				<input type="password" placeholder="" />

				<h4>Powtórz Nowe Hasło</h4>
				<input type="password" placeholder="" />

				<button class="setting-btn">Zapisz zmiany</button>

			</div>
		</div>


	</div>

</div>

@code {

}