@inherits LayoutComponentBase

<div class="layout-container">

    <div class="navbar-topbar">
        <TopMenu/>
    </div>

    <div class="navbar-row">
        <NavMenu />
        <div class="body-content">
            @Body
        </div>
    </div>

</div>
