@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <MudThemeProvider/>
    <MudPopoverProvider/>
    <MudSnackbarProvider @rendermode="InteractiveServer"/>
    <div class="layout-container">

        <div class="navbar-topbar">
            <TopNavMenu />
        </div>

        <div class="navbar-leftbar">
            <LeftNavMenu />
            <div class="body-content">
                @Body
            </div>
        </div>

    </div>

    @* <div id="blazor-error-ui"> *@
    @*     An unhandled error has occurred. *@
    @*     <a href="" class="reload">Reload</a> *@
    @*     <a class="dismiss">🗙</a> *@
    @* </div> *@
</BootstrapBlazorRoot>
