<div class="navbar-container">

    <div onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="nav-links">
            <div class="nav-item-active">
                <img src="home-white.svg" alt="home" width="20" height="20" />
                <a class="nav-link-active" href="">Strona Główna</a>
            </div>
            <div class="nav-item">
                <img src="orders-black.svg" alt="orders" width="20" height="20" />
                <a class="nav-link" href="orders">Lista Zleceń</a>
            </div>
            <div class="nav-item">
                <img src="services-black.svg" alt="services" width="20" height="20" />
                <a class="nav-link" href="services">Uslugi</a>
            </div>
            <div class="nav-item">
                <img src="report-black.svg" alt="report" width="20" height="20" />
                <a class="nav-link" href="report">Raport</a>
            </div>
            <span class="nav-line"/>
            <div class="nav-item">
                <img src="contact-black.svg" alt="contact" width="23" height="20" />
                <a class="nav-link" href="contact">Kontakt</a>
            </div>
            <div class="nav-item">
                <img src="settings-black.svg" alt="settings" width="20" height="20" />
                <a class="nav-link" href="settings">Ustawienia</a>
            </div>
            <div class="nav-item">
                <img src="logout-black.svg" alt="logout" width="20" height="20" />
                <a class="nav-link" href="">Wyloguj</a>
            </div>
        </nav>
    </div>
</div>


