<div class="navbar-container">

    <div class="logo-search">
        <a class="navbar-logo" href="">Serwis <span style="color: #4880FF">24</span></a>
        <div class="search-bar">
            <img src="search.svg" alt="search" width="20" height="20" />
            Wyszukaj
        </div>
    </div>
    <div class="notifications-user">
        <img src="notifications.svg" alt="notifications" width="25" height="30" />
        <img src="user.svg" alt="user" width="40" height="40" />
        <div class="user-inf">
            <div class="user-name">Anna</div>
            <div class="user-role">Klient</div>
        </div>
        <img src="more.svg" alt="more" width="25" height="25" />

    </div>

</div>


