@page "/authors"
@using serwis_web.Components
@rendermode InteractiveServer

<PageTitle>Autorzy</PageTitle>

<div class="authors-container">
    <h2>Autorzy</h2>
    
    <div class="authors-back">
        <div class="team-section">
            <h3>Zespół projektowy</h3>
            <div class="team-members">
                <div class="team-member">
                    <div class="member-photo">
                        <img src="placeholder.png" alt="Kornelia Kołowska" />
                    </div>
                    <h4>Kornelia Kołowska</h4>
                    <p>Mobile Developer</p>
                    <p class="email">245845@edu.p.lodz.pl</p>
                </div>
                <div class="team-member">
                    <div class="member-photo">
                        <img src="placeholder.png" alt="Bartłomiej Mielnicki" />
                    </div>
                    <h4>Bartłomiej Mielnicki</h4>
                    <p>Mobile Developer</p>
                    <p class="email">245876@edu.p.lodz.pl</p>
                </div>
                <div class="team-member">
                    <div class="member-photo">
                        <img src="placeholder.png" alt="Jakub Borkiewicz" />
                    </div>
                    <h4>Jakub Borkiewicz</h4>
                    <p>Mobile Developer</p>
                    <p class="email">245775@edu.p.lodz.pl</p>
                </div>
                <div class="team-member">
                    <div class="member-photo">
                        <img src="placeholder.png" alt="Daniel Karolak" />
                    </div>
                    <h4>Daniel Karolak</h4>
                    <p>Frontend Developer</p>
                    <p class="email">245838@edu.p.lodz.pl</p>
                </div>
                <div class="team-member">
                    <div class="member-photo">
                        <img src="placeholder.png" alt="Oliwier Szafrański" />
                    </div>
                    <h4>Oliwier Szafrański</h4>
                    <p>Fullstack Developer</p>
                    <p class="email">245935@edu.p.lodz.pl</p>
                </div>
            </div>
        </div>
        
        <span class="line"></span>

        <div class="about-us-container">
            <h3>Parę słów o nas</h3>
            <div class="about-us">
                <div class="about-us-box">
                    <i class="fa-solid fa-user-group" alt="Zespół"></i>
                    <h4>Kim jesteśmy?</h4>
                    <p>
                        Jesteśmy zespołem studentów Politechniki Łódzkiej, wspólnie realizujących projekt oparty na nowoczesnych technologiach cyfrowych.
                    </p>
                </div>
                <div class="about-us-box">
                    <i class="fa-solid fa-lightbulb" alt="Cel"></i>
                    <h4>Co stworzyliśmy?</h4>
                    <p>
                        Zaprojektowaliśmy funkcjonalną aplikację do zarządzania zleceniami serwisowymi, która jest prosty w obsłudze i dostępna z dowolnego urządzenia.
                    </p>
                </div>
                <div class="about-us-box">
                    <i class="fa-solid fa-microchip" alt="Technologie"></i>
                    <h4>Nasze technologie</h4>
                    <p>
                        Pracowaliśmy nad frontendem, backendem i wersją mobilną — każdy z nas wniósł unikalne umiejętności do projektu.
                    </p>
                </div>
                <div class="about-us-box">
                    <i class="fa-solid fa-star" alt="Efekty"></i>
                    <h4>Efekty pracy</h4>
                    <p>
                        Naszym celem było stworzenie systemu spełniającego oczekiwania użytkowników i zgodnego z rynkowymi standardami.
                    </p>
                </div>
            </div>

        </div>
        
    </div>
</div>

@* <div class="help-button-container"> *@
@*     <AccessibilityWidget/> *@
@* </div> *@