@page "/new-user"
@rendermode InteractiveServer

<PageTitle>Utwórz nowego użytkownika</PageTitle>

<div class="services-container">
	<h2>Utwórz nowego użytkownika</h2>

	<div class="service-back">
		<div class="service-tab">
			<div class="service-col">

				<h4>Rola użytkownika</h4>
				<select>
					<option>Klient</option>
					<option>Serwisant</option>
					<option>Administrator</option>
				</select>

				<h4>Imię</h4>
				<input type="text" placeholder="" />

				<h4>Nazwisko</h4>
				<input type="text" placeholder="" />

				<h4>Numer Telefonu</h4>
				<input type="number" placeholder="" />

				<h4>Adres Email</h4>
				<input type="email" placeholder="" />

			</div>
			<div class="service-col">

				<h4>Państwo</h4>
				<input type="text" placeholder="" />

				<h4>Ulica</h4>
				<input type="text" placeholder="" />

				<h4>Numer Domu</h4>
				<input type="number" placeholder="" />

				<h4>Miasto</h4>
				<input type="text" placeholder="" />

				<h4>Kod pocztowy</h4>
				<input type="number" placeholder="" />

			</div>
		</div>

		<button>Utwórz nowego użytkownika</button>
	</div>
</div>
