.services-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    padding-right: 20px;
}

.services-container h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.services-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.tab-container {
    width: 31.5%;
    margin-bottom: 32px;
}

.tab-container:nth-child(-n+6) {
    margin-bottom: 32px;
}

.tab-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0 28px 0;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 0;
}
.tab-wrapper:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.tab-wrapper h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.tab-wrapper p {
    font-size: 17px;
    font-weight: 500;
    color: #979797;
    margin: 0;
    margin-top: 10px;
    width: 80%;
    min-height: 65px;
    text-align: center;
}
i {
    font-size: 56px;
    margin-top: 10px;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1536px) {

    .tab-wrapper p {
        width: 90%;
    }
}


@media (max-width: 1280px) 
{
    .tab-container {
        width: 48%;
        margin-bottom: 35px;
    }

}
@media (max-width: 1024px) {
    .services-container {
        gap: 30px;
        padding-right: 15px;
    }

    .tab-container {
        width: 100%;
    }
    .tab-wrapper {
        padding: 30px 15px 40px 15px;
    }
    .tab-wrapper p {
        margin-top: 15px;
        min-height: auto;
        width: auto;
    }
    i {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {

    .services-container {
        padding-right: 5px;
        padding-top: 10px;
    }
    .tab-container {
        margin-bottom: 40px;
    }
    .tab-wrapper {
        padding: 25px 15px 30px 15px;
    }
    .tab-wrapper p {
        margin-top: 10px;
    }
    .tab-wrapper h3 {
        font-size: 24px;
    }
    i {
        margin-top: 15px;
    }

}