@page "/services"
@rendermode InteractiveServer

<PageTitle>Usługi</PageTitle>

<div class="services-container">
	<h2>Wybierz nową usługę</h2>

	<div class="services-tabs">
		<div class="tab-container">
			<a href="/services/fix" class="tab-wrapper">
				<h3>Naprawa</h3>
				<p>Usunięcie usterek i przywrócenie sprawności urządzenia</p>
				<i class="fa-solid fa-screwdriver-wrench" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/service" class="tab-wrapper">
				<h3>Serwis</h3>
				<p>Kompleksowa obsługa techniczna urządzenia lub systemu</p>
				<i class="fa-solid fa-bug-slash" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/installation" class="tab-wrapper">
				<h3>Instalacja</h3>
				<p>Montaż i uruchomienie nowego sprzętu lub oprogramowania</p>
				<i class="fa-solid fa-display" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/configuration" class="tab-wrapper">
				<h3>Konfiguracja</h3>
				<p>Ustawienie parametrów urządzenia lub systemu zgodnie z wymaganiami</p>
				<i class="fa-solid fa-sliders" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/inspection" class="tab-wrapper">
				<h3>Przegląd</h3>
				<p>Kontrola techniczna i ocena stanu technicznego urządzenia</p>
				<i class="fa-solid fa-clipboard-list" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/replacement" class="tab-wrapper">
				<h3>Wymiana</h3>
				<p>Zastąpienie zużytych lub uszkodzonych elementów nowymi</p>
				<i class="fa-solid fa-right-left" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/maintenance" class="tab-wrapper">
				<h3>Konserwacja</h3>
				<p>Regularne działania zapobiegawcze w celu utrzymania sprawności sprzętu</p>
				<i class="fa-solid fa-toolbox" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/modernization" class="tab-wrapper">
				<h3>Modernizacja</h3>
				<p>Unowocześnienie sprzętu lub systemu poprzez dodanie nowych funkcji</p>
				<i class="fa-regular fa-handshake" style="color: #4880FF"></i>
			</a>
		</div>

		<div class="tab-container">
			<a href="/services/diagnostics" class="tab-wrapper">
				<h3>Diagnostyka</h3>
				<p>Identyfikacja problemów i określenie przyczyny awarii urządzenia</p>
				<i class="fa-solid fa-magnifying-glass" style="color: #4880FF"></i>
			</a>
		</div>
	</div>
</div>

@code {
}